extends ../layouts/default

block content
	.container: .jumbotron
		#welcome(style='display:flex;flex-direction:column;justify-content: center;')
			h2 Welcome to Saint Andrews Anglican Fellowship
			h3 The Reverend Phil Lyman, Rector
			br
			p Worship Sunday @ 10:15 am
			br
			iframe(src='//www.google.com/maps/embed/v1/place?q=2103%20Puddingtons%20Patent%20Way%20Gambrills%20MD%2021054&zoom=14&key=' + map_key
			style='height:35em; width: 90%')
			p Bell Branch SDA Church
			p 2103 Puddingtons Patent Way
			p Gambrills, MD  21054
			br
			p Nursery care (birth thru 2 yrs) and Children's Church (3 yrs thru 2nd grade) 
				| 
				br 
				| provided during sermon time.

