extends ../layouts/default
include ../mixins/sta_sermon


block content
    #content.one-center-flex
        audio#player(src= "" autoplay controls)
        .form-inline
            label.sr-only Filter Sermons
            .input-group
                .input-group-addon Search
                input#sermon_search.form-control(placeholder='Search Sermons...')
        #sermons
            ul.list-group
                each sermon in sermons
                    +sta_sermon(sermon)
                        

block js
    script(src="/js/player.js")
    script(src="/js/site.js")
    