@sta-primary : #DAA520;
@sta-secondary : #B8860B;

@sta-text-primary: #000080;

body {
    background: @sta-secondary
}

.navbar {
    background: @sta-primary;
}

#site .navbar-default .navbar-nav > li > a
, #site .navbar-brand {
    color: @sta-text-primary 
    
}

#site td, #site th {
    border-color: whitesmoke;
    border-width: 2px;
    border-radius: 4px;
    border-style: groove;
}